* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333533;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #003f91;
  color: #fff;
}

.dark-grey {
  color: #333533;
}
.purple {
  color: #6d326d;
}
.dark-blue {
  color: #003f91;
}
.mid-blue {
  color: #46acc2;
}
.winterwizard {
  color: #97dffc;
}
.light-blue {
  color: #cce8ee;
}

main {
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 0 1.6em;

}

h1.site-header-name {
  margin-bottom: 10px;
  font-size: 2.8em;
  opacity: 0.8;
  letter-spacing: -6px;
}

h2.subtitle,
.section-title {
  font-size: 1.5em;
  margin: 10px 0;
  font-family: 'Calistoga', cursive;  
}

.profile {
  font-style: italic;
  font-size: 1em;
}

ul {
  list-style: none;
  padding-left: 0;
}

.social-icons-container {
  width: 150px;
  margin: 10px auto;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin: 0;
}

.social-icons li {
  padding: 0 10px;
  font-size: 2.5em;
}

.social-icons p {
  margin: 0;
}

.section {
  margin-bottom: 20px;
}

.blob {
  padding: 1em 1.6em;
}

.blob--background {
  background-color: #eef7f9;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}

.grid--secondary {
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.grid--text {
  justify-items: start;
  align-items: start;
}

.grid-item img {
  max-width: 130px;
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

.grid-item--testimonial {
  text-align: center;
  font-style: italic;
  line-height: 23px;
  border-left: 3px #068d9d solid;
  max-width: 250px;
  background: #fff;
  padding: 0.3em 1.3em;
  grid-column-start: span 2;
}


.bullet-list li {
  margin-bottom: 10px;
}

.list-title {
  font-size: 1.3em;
  margin: 5px 0;
}

.list-subtitle {
  font-style: italic;
  margin: 0.5em 0;
}

.list-desc {
  margin: 0.5em 0;
}

.section--writing a {
  text-decoration: none;
}

#cfg {
  max-height: 80px;
}

/* Media Queries for desktop */

@media screen and (min-width: 800px) {
  main {
    margin: 0 auto;
    padding: 40px;
  }

  h1.site-header-name {
    font-size: 4em;
  }

  h2.subtitle,
  .section-title {
    font-size: 1.6em;
    margin-top: 10px;
  }

  .name-space {
    padding: 15px;
  }

  .social-icons {
    font-size: 1.3em;
  }

  .profile {
    font-size: 1.4em;
    max-width: 800px;
    margin: 1.5em auto;
    padding: 0 30px;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px 10px;
  }

  .grid--secondary {
    grid-template-columns: 1fr 1fr;
  }

  .grid-item img {
    max-width: 200px;
  }

  .grid-item--testimonial {
    max-width: 250px;
    padding: 0.3em 1.3em;
    grid-column-start: span 1;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  p.list-desc {
    padding-right: 20px;
  }

  .blob {
    margin: 0 -40px;
    padding: 20px 160px;
  }

  #cfg {
    max-height: 100px;
  }
}
