* {
  font-family: 'Nanum Gothic', sans-serif;
  color: #333533;
  margin: 0;
  padding: 0;
}

.viridian {
  color: #068d9d;
}

.maximumblue {
  color: #46acc2;
}

.aeroblue {
  color: #d4f4dd;
}

.winterwizard {
  color: #97dffc;
}

.rustyred {
  color: #d62246;
}

.jet {
  color: #333533;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: justify; */
  margin-bottom: 20px;
}

h1.name-header {
  margin-bottom: 10px;
  font-size: 3.9em;
  font-weight: 800;
  opacity: 0.8;
  letter-spacing: -9px;
}

h2.subtitle,
.section-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

header p {
  font-style: italic;
}

ul {
  list-style: none;
  padding-left: 0;
}

.social-icons-container {
  width: 150px;
  margin: 10px auto;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons li {
  padding: 0 10px;
  font-size: 1em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 15px 10px;
  justify-items: stretch;
  align-items: start;
}

.section {
  margin-bottom: 40px;
}

.bullet-list li {
  margin-bottom: 10px;
}

h4.list-title {
  font-size: 1.3em;
  font-weight: 800;
}

p.list-subtitle {
  font-style: italic;
  font-weight: 700;
}

p.list-desc {
  font-weight: 400;
}

/* Media Queries for desktop */

@media screen and (min-width: 800px) {
  main {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
  }

  h1.name-header {
    font-size: 4em;
    letter-spacing: -8px;
  }

  h2.subtitle,
  .section-title {
    font-size: 1.6em;
    margin-top: 10px;
  }

  .name-space {
    padding: 15px;
  }

  .social-icons {
    font-size: 1.3em;
  }

  header p {
    max-width: 900px;
    font-size: 1.4em;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px 10px;
  }
}
